* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('Assets/WEBSITE FEA JPEG.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
}

.profile-photo {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50;
}

.portfolio-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b0b0b0;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.portfolio-link a:hover {
    background-color: #8a8a8a;
}

.contact-info {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 0.9rem;
    color: #333;
    opacity: 0.9;
    text-align: left;
}

.contact-info p {
    margin: 0;
    margin-top: 5px;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}