:root {
    --aside_width: 230px;
    --header_height: 100px;
    --header_color: #304D6D;
    --main_color: beige;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--header_color);
    height: var(--header_height)
}

main {
    background-color: var(--main_color);
    position: absolute;
    top: var(--header_height);
    left: var(--aside_width);
    width: calc(100% - 2 * var(--aside_width));
    height: calc(100% - var(--header_height));
    justify-content: center;
    align-items: center;
}

#main_image {
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}